#index-body{
  background-color: black;
}
#contact-body{
  background-color: black;
}

form {
  text-align: center;
}

#contact-form{
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 0; /* Remove corner curve */
  border: 2px solid #fff; /* 2px white border */
  color: #fff; /* White text */
  height: 45px; /* Increase input height */
}

button{
text-transform: uppercase;
padding: 10px 60px;
color: white;
background: #444;
font-weight: normal;
}


.card-img-top {
  height: 18em;
}
